.overline {
    text-decoration: overline;
}

.default_body_style {
    background-attachment: fixed;
    background-color: hsl(34, 53%, 82%);
    background-image: url(../img/bg.jpg);
    background-position: center;
}

.large-size {
    font-size: 27px;
}
