.overline {
    text-decoration: overline;
}

html, body, .main {
    min-height: 100%;
    height: 100%;
}

body {
    background-attachment: fixed;
    background-color: hsl(34, 53%, 82%);
    background-image: url(../img/bg.jpg);
    background-position: center;
    padding-top: 70px;
}

.main {
    padding-bottom: 30px;
}

.footer {
    height: 30px;
    margin-top: -30px;
}

.large-size {
    font-size: 27px;
}

.drop-item {
    margin-left: 7px;
    margin-right: 7px;
    text-align: center;
}

.form-inline {
    margin-right: 80px;
}

@media screen and (max-width: 768px) {
    .nav {
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar-btn, .btn[data-toggle=dropdown] {
        width: 100%;
    }

    .form-inline {
        margin-right: inherit;
    }
}

li[class=nav-item] {
    margin-right: 5px;
    margin-left: 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.form-item-responsive {
    margin-bottom: 10px;
}

#waiting{
    position: fixed;
    top: 0;
    left:0;
    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity 300ms ease-in 0ms;
}
#waiting-block{
    background: #fff;
    padding: 0 15px;
    border-radius: 8px;
    color: lightslategray;
    width: 250px;
    position: relative;
    top: 50%;
    line-height: 44px;
    margin-top: -22px;
    font-size: 1.2em;
}


