.overline {
    text-decoration: overline;
}

html {
    height: 100%;
}

body {
    background-attachment: fixed;
    background-color: hsl(34, 53%, 82%);
    background-image: url(../img/bg.jpg);
    background-position: center;
    height: 100%;
}

.main {
    padding-bottom: 30px;
    min-height: 100%;
}

.footer {
    height: 30px;
    margin-top: -30px;
}

.large-size {
    font-size: 27px;
}

.drop-item {
    margin-left: 7px;
    margin-right: 7px;
    text-align: center;
}

.form-inline {
    margin-right: 80px;
}

@media screen and (max-width: 768px) {
    .nav {
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar-btn, .btn[data-toggle=dropdown] {
        width: 100%;
    }

    .form-inline {
        margin-right: inherit;
    }
}

li[class=nav-item] {
    margin-right: 5px;
    margin-left: 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.form-item-responsive {
    margin-bottom: 10px;
}
