<%- include header.html             %>

<script src="/js/admin_panel_controller.js"></script>
<div class="panel panel-primary">
    <div class="panel-heading"><h4 class="text-center">Admin panel</h4></div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="file">Select file for converting (supported
                    <span class="text-info">xls, xlsx</span>)</label>

                <div class="input-group col-md-6">
                    <span class="input-group-btn">
                        <span class="btn btn-info btn-file">Browse&hellip; <input type="file"></span>
                    </span>
                    <input type="text" class="form-control" readonly id="file">
                </div>
            </div>

            <label>Save as</label>

            <div class="row schedule-menu">
            <div class="col-md-4 form-item-responsive">
                <div class="input-group">
                <div class="dropdown input-group-btn">
                    <a class="btn btn-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Факультет<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" id="faculties-list" aria-disabled="true"></ul>
                </div>
                <input type="text" class="form-control" id="new-faculty" placeholder="Or input new">
                </div>
            </div>

            <div class="col-md-4 form-item-responsive">
                <div class="input-group">
                <div class="dropdown input-group-btn">
                    <a class="btn btn-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Курс<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" id="courses-list" aria-disabled="true"></ul>
                </div>
                <input type="text" class="form-control" id="new-course" placeholder="Or input new">
                </div>
            </div>

            <div class="col-md-4 form-item-responsive">
                <div class="input-group">
                <div class="dropdown input-group-btn">
                    <a class="btn btn-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Группа<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" id="groups-list" aria-disabled="true"></ul>
                </div>
                <input type="text" class="form-control" id="new-group" placeholder="Or input new">
                </div>
            </div>
            </div>


            <button type="submit" class="btn btn-primary" style="margin-top: 30px;">Convert & Save</button>
        </form>
    </div>
</div>

<%- include footer.html %>
