<li class="nav-item form-inline text-center navbar-form">
    <div class="dropdown form-group">
        <button type="button" class="btn btn-info" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" id="faculties-button">
            Факультет
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" id="faculties-list" aria-disabled="true">
        </ul>
    </div>
    <div class="dropdown form-group">
        <button type="button" class="btn btn-info" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" id="courses-button">
            Курс
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" id="courses-list" aria-disabled="true">
        </ul>
    </div>
    <div class="dropdown form-group">
        <button type="button" class="btn btn-info" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" id="groups-button">
            Группа
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" id="groups-list" aria-disabled="true">
        </ul>
    </div>
</li>
