<li class="nav-item form-inline text-center navbar-form schedule-menu">
    <div class="dropdown form-group">
        <button class="btn btn-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Факультет<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" id="faculties-list" aria-disabled="true">
        </ul>
    </div>
    <div class="dropdown form-group">
        <button class="btn btn-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Курс<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" id="courses-list" aria-disabled="true">
        </ul>
    </div>
    <div class="dropdown form-group">
        <button class="btn btn-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Группа<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" id="groups-list" aria-disabled="true">
        </ul>
    </div>
</li>
