<li class="form-inline text-center navbar-form">
    <div class="dropdown form-group">
        <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" id="faculties-button">
            Факультет
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" id="faculties-list">
            <li class="waiting"><span class="glyphicon glyphicon-hourglass"></span>Загрузка</li>
        </ul>
    </div>
    <div class="dropdown form-group">
        <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Курс
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" id="courses-list">
            <li class="waiting"><span class="glyphicon glyphicon-hand-left"></span>Сначала выберите <i
                    class="text-info">Специальность/Направление подготовки</i></li>
        </ul>
    </div>
    <div class="dropdown form-group">
        <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Группа
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" id="groups-list">
            <li class="waiting"><span class="glyphicon glyphicon-hand-left"></span>Сначала выберите <i
                    class="text-info">Курс</i></li>
        </ul>
    </div>
</li>
